@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.userHeader,
.dropdownAccount {
    background-color: #2E052D;
    vertical-align: baseline;
}

.userHeader,
.dropdownAccount .dropdown-item {
    font-size: 18px;
    font-weight: 500;
}

.dropdownAccount .dropdown-item:hover {
    background-color: #2E052D;
}

.nallHeader-title {
    font-family: 'Baskervville', serif;
    font-size: 18px;
    line-height: normal;
}

/* END OF HEADER */
/* FOOTER */
.userFooter,
.nallHeader {
    background-color: #2E052D;
}

/* END OF FOOTER */
