body{
    margin: 0;
    padding: 0;
}

.btn{
    position: relative;
    background-color:#2E052D;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border:none; 
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn:hover {
    background-color:#FF29FB;
}

.btn2{
    position: relative;
    background-color:transparent;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 2px solid #FF29FB;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn2:hover {
    background-color:#FF29FB;
}

.hovertext:hover{
    color: #FF29FB;
}

.btn2-2{
    position: relative;
    background-color:#FF29FB;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 2px solid #FF29FB;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn3{
    background-color:#2E052D;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    width: 620px;
    height: 59px;
}

.btn3:hover {
    background-color:#FF29FB;
}

.image{
    position:relative;
}

.logo{
    width: 131px;
    height: 136px;
    padding-bottom: 10rem;
}

.linkreg{
    color: #8E3D8C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
