/* This is a single-line comment
html *
{
   color: white !important;
   font-family: Open Sans !important;
}
*/


body{
    margin: 0;
    padding: 0;
}

.btn{
    position: relative;
    background-color:#2E052D;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border:none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn:hover {
    background-color:#863084;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.btn2{
    position: relative;
    background-color:transparent;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 2px solid #FF29FB;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn2:hover {
    background-color:#863084;
}

.hovertext:hover{
    color: #FF29FB;
}

.btn2-2{
    position: relative;
    background-color:#FF29FB;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 2px solid #FF29FB;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn3{
    background-color:#2E052D;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    width: 620px;
    height: 59px;

}

.btn4{
    background-color:#2E052D !important;
    position: relative;
    color: white;
    padding-top: 1rem;
    text-align: center;
    height: 40px;
    border:none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.btn4:hover {
    background-color:#863084 !important;
}

.btn-pos{
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.hovertext a:focus{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background-color: #FF29FB;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 2rem;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 20px;
    width: 20px;

    border: 2px solid #E2E6EB;
    border-radius: 2px;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 8px;
    width: 12px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: #2E052D auto 5px;
}


.btn3{
    position: relative;
    background-color:#2E052D;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    font-size: medium;
    width: 190px;
}

.btn3:hover {
    background-color:#FF29FB;
}

.image{
    position:relative;
}

.logo{
    width: 131px;
    height: 136px;
    padding-bottom: 10rem;
}

.linkreg{
    color: #8E3D8C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

input[type=search] {
    height: 3.5rem;
    border-color: #BEC1C5;
}

input[type=search]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

input[type=start] {
    height: 3.5rem;
    border-color: #BEC1C5;
}

input[type=start]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

input[type=email]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

input[type=password]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

input[type=text]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

textarea[type=text]:focus {
    border: 2px solid #2E052D;
    outline: none;
    box-shadow: 0 0;
}

input[type=checkbox]:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: 0 0;
}

.sorting{
    background-color: #F6F6F6;
    width: 5rem;
    border: 1px solid #BEC1C5;
    border-radius: 3px;
    font-size: 0.8rem;
}

.sorting btn:hover {opacity: 1}

nav{
	position: absolute;
	width: 460px;
	height: 72px;
	font-size: 0;
    bottom: 0px;
    left: 39rem;
}
nav a{
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 5px;
	/* height: 5px; */
	bottom: 0;
	z-index: 0;
	background: #FF29FB;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 150px;
	left: 0;
}
nav a:nth-child(2){
	width: 160px;
}
nav a:nth-child(2):hover~.animation{
	width: 160px;
	left: 150px;
}
nav a:nth-child(3){
	width: 150px;
}
nav .start-contactus, a:nth-child(3):hover~.animation{
	width: 150px;
	left: 310px;
}

.aboutnav nav{
	position: absolute;
	width: 460px;
	height: 72px;
	font-size: 0;
    bottom: 0px;
    left: 39rem;
}
.aboutnav nav a{
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
.aboutnav nav .animation{
	position: absolute;
	height: 5px;
	/* height: 5px; */
	bottom: 0;
	z-index: 0;
	background: #FF29FB;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.aboutnav nav a:nth-child(1){
	width: 150px;
}
.aboutnav nav a:nth-child(1):hover~.animation{
	width: 150px;
	left: 0;
}
.aboutnav nav a:nth-child(2){
	width: 160px;
}
.aboutnav nav .start-aboutus, .aboutnav a:nth-child(2):hover~.animation{
	width: 160px;
	left: 150px;
}
.aboutnav nav a:nth-child(3){
	width: 150px;
}
.aboutnav nav a:nth-child(3):hover~.animation{
	width: 150px;
	left: 310px;
}

.authhome nav{
	position: absolute;
	width: 900px;
	height: 72px;
	border-radius: 8px;
    float: none;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.authhome nav a{
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
.authhome nav .animation{
	position: absolute;
	height: 5px;
	bottom: 0;
	z-index: 0;
	background: #FF29FB;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.authhome  nav a:nth-child(1){
	width: 140px;
}
.authhome nav .start-home, .authhome a:nth-child(1):hover~.animation{
	width: 140px;
	left: 0;
}
.authhome nav a:nth-child(2){
	width: 140px;
}
.authhome nav .start-search, .authhome a:nth-child(2):hover~.animation{
	width: 140px;
	left: 140px;
}
.authhome nav a:nth-child(3){
	width: 160px;
}
.authhome nav a:nth-child(3):hover~.animation{
	width: 160px;
	left: 280px;
}
.authhome nav a:nth-child(4){
	width: 160px;
}
.authhome nav .start-bookmark, .authhome a:nth-child(4):hover~.animation{
	width: 140px;
	left: 450px;
}
.authhome nav a:nth-child(5){
	width: 140px;
}
.authhome nav .start-aboutus, .authhome a:nth-child(5):hover~.animation{
	width: 140px;
	left: 600px;
}

.authhome nav a:nth-child(6){
	width: 140px;
}
.authhome nav .start-contactus, .authhome a:nth-child(6):hover~.animation{
	width: 140px;
	left: 738px;
}

.unsign{
    width: 300px;
    left: 70%;
}

.unhome nav{
	position: absolute;
	width: 800px;
	height: 72px;
	border-radius: 8px;
    float: none;
    top: 60%;
    left: 59%;
    transform: translate(-50%, -50%);
}
.unhome nav a{
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
.unhome nav .animation{
	position: absolute;
	height: 5px;
	bottom: 0;
	z-index: 0;
	background: #FF29FB;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.unhome  nav a:nth-child(1){
	width: 140px;
}
.unhome nav .start-home, .unhome a:nth-child(1):hover~.animation{
	width: 140px;
	left: 0;
}
.unhome nav a:nth-child(2){
	width: 140px;
}
.unhome nav .start-search, .unhome a:nth-child(2):hover~.animation{
	width: 140px;
	left: 140px;
}
.unhome nav a:nth-child(3){
	width: 160px;
}
.unhome nav a:nth-child(3):hover~.animation{
	width: 160px;
	left: 280px;
}


.btn4{
    position: relative;
    background-color:#2E052D;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border:none;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    font-size: medium;
    width: 13.5rem;
}

.btn4:hover {
    background-color:#863084;
}

.btn4b{
    position: relative;
    background-color:#2E052D;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border:none;
    border-radius: 3px;
    font-weight: 320;
    letter-spacing: 0.03rem;
    font-size: medium;
    width: 13.5rem;
}

.btn4b:hover {
    background-color:#863084;
}

.bookmarkedRibbon {
    outline: none;
    box-shadow: 0 0;
}

.bookmark-button {
    outline: 1px solid white;
    height: 20px;
    width: 20px;
    color: gray;
  }
  
  .bookmark-button:hover {
    color: #863084;
  }

.bookmark-button[data-bookmarked='true'] .fa-bookmark {
    outline: 1px solid white;
    color: #2E052D;
  }

.bookmark-filled {
    outline: 1px solid white;
    color: #2E052D;
  }

#container {
    background-image:url('/img/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 40rem;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:  100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }
  .overlay:target {
    visibility: visible;
    opacity: 2;
  }

  .popup {
    margin: 70px auto;
    padding: 0px;
    background: #fff;
    width: 18%;
    position: absolute;
    top: 10rem;
    left: 50rem;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 6px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #FF29FB;
  }
  .popup .content {
    max-height: 50%;
    overflow: auto;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .card {
    margin: 70px auto;
    padding: 0px;
    background: #fff;
    width: 85%;
    position: absolute;
    top: 10rem;
    left: 8rem;
    transition: all 5s ease-in-out;
  }

  .card h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .card .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .card .close:hover {
    color: #FF29FB;
  }
  .card .content {
    max-height: 50%;
    overflow: auto;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .popup .plus{
    position: absolute;
    transition: all 200ms;
    font-size: 40px;
    text-decoration: none;
    color: #333;
    transform: rotate(45deg);
  }

  .popup .plus:hover {
    color: #FF29FB;
  }


  .checkbox2 input[type="checkbox"] {
    opacity: 0;
}

.checkbox2 label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 2.5rem;
    padding-top: 0.1rem;
}

.checkbox2 label::before,
.checkbox2 label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox2 label::before{
    height: 25px;
    width: 25px;

    border: 2px solid #2E052D;
    border-radius: 2px;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox2 label::after {
    height: 11px;
    width: 15px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 5px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox2 input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox2 input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox2 input[type="checkbox"]:focus + label::before {
    outline: #2E052D auto 5px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.background-image{
    background-image: url('/img/admin-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.btnadmin{
    position: relative;
    background-color:#863084;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    border-radius: 5px;
    letter-spacing: 0.03rem;
}

.btnadmin:hover {
    background-color:#2E052D;
}

.admin-input input[type=email]{
    border: 2px solid #E2E6EB;
    outline: none;
    box-shadow: 0 0;
}

.admin-input input[type=password]{
    border: 2px solid #E2E6EB;
    outline: none;
    box-shadow: 0 0;
}

.admin-input input[type=email]:focus {
    border: 2px solid #863084;
    outline: none;
    box-shadow: 0 0;
}

.admin-input input[type=password]:focus {
    border: 2px solid #863084;
    outline: none;
    box-shadow: 0 0;
}

.admin-hovertext{
    color: #7B7B7B;
}

.admin-hovertext:hover{
    color: #2E052D;
    font-weight: 600;
}

.search-bar{
	width: 700px;
	height: 50px;
	background-color: #EAEAEA;
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 20px;
    border: 1px solid #BEBEBE;
}

.admin-hovertext{
    color: #7B7B7B;
}

.admin-hovertext:hover{
    color: #2E052D;
    font-weight: 600;
}

.admin-selected{
    color: #2E052D;
    font-weight: 600;
}




thead{
    background-color: #f7f7f7;
}

tbody{
    background-color: #fdfdfd;
}


tbody.scrollContent{
    display: block;
    height: 600px;
    overflow: auto;
    width: 100%;
}


th, td {
    width: 340px;
  }


/*approve and reject buttons*/
.approve {
    color: #FFF;
    background-color: #2E052D;
    padding: 7px 30px;
    border-radius: 3px;
 }
.approve:hover {
    background: #691066;
}
.decline {
    color: #FFF;
    background: #A2A2A2;
    padding: 7px 34px;
    border-radius: 3px;
}
.decline:hover {
    background:#6e6e6e;
}




.search-bar > i {
	font-size: 20px;
	color: #737373;
}

.search-bar > input{
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 14px;
	padding-left: 10px;
    background-color: #EAEAEA;
}

.search-bar > input:focus{
	border: none;
	outline: none;
}

.select select{
    outline:0;
    box-shadow:none;
    border:1px solid #E8E8E8!important;
    background-color:#FDFDFD!important;
    flex: 1;
    color:#1B1B1B;
    cursor:pointer;
    font-size: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
 }

 .select {
    position: relative;
    display: flex;
    width: 17em;
    height: 2.3em;
    line-height: 2.17;
    background: #E8E8E8;
    overflow: hidden;
    border-radius: 5px;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FDFDFD;
    border:    1px solid  #E8E8E8!important;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color: #E8E8E8;
    border-radius: 0px 5px 5px 0px;
 }

 .select:hover::after {
    color: #863084;
 }

 .select2 select{
    text-align: center;
    outline:0;
    box-shadow:none;
    border:1px solid #E8E8E8!important;
    background-color:#FDFDFD!important;
    flex: 1;
    color:#1B1B1B;
    cursor:pointer;
    font-size: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
 }

 .select2 {
    position: relative;
    display: flex;
    width: full;
    height: 2.3em;
    line-height: 2.17;
    background: #E8E8E8;
    overflow: hidden;
    border-radius: 5px;
 }
 .select2::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FDFDFD;
    border:    1px solid  #E8E8E8!important;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color: #E8E8E8;
    border-radius: 0px 5px 5px 0px;
 }

 .select2:hover::after {
    color: #863084;
 }

.function-hover{
    color: #2B062A;
}

.function-hover:hover{
    color: #FF29FB;
}

#printed-table {
    display: none;
}

#video-table {
    display: none;
}

#elecresource-table {
    display: none;
}

#audio-table {
    display: none;
}

#edit-about-us{
    display: none;
}

#edit-contact-us{
    display: none;
}


#addelec-res{
    display:none;
}

#addvideo{
    display: none;
}

#addaudio{
    display: none;
}

#addprinted{
    display: none;
}

#overalladm{
    display: none;
}

#uniadm{
    display: none;
}




/* for custom scrollbar for webkit browser*/
div.tbl-content::-webkit-scrollbar {
    width: 10px;
	background-color: transparent;
}

div.tbl-content::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
	border-radius: 10px;
	background-color: transparent;
    width: 20px;
}

div.tbl-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: #525252;
}

#overall-admin {
    display: none;
}

#admin-list {
    display: none;
}

#user-list {
    display: none;
}

.user-input input[type=password]{
    border: 2px solid #B4B8BD;
    outline: none;
    box-shadow: 0 0;
}

.user-input input[type=password]:focus {
    border: 2px solid #863084;
    outline: none;
    box-shadow: 0 0;
}

.user-input input[type=text]{
    border: 2px solid #B4B8BD;
    outline: none;
    box-shadow: 0 0;
}

.user-input input[type=text]:focus {
    border: 2px solid #863084;
    outline: none;
    box-shadow: 0 0;
}


.user-input input[type=email]{
    border: 2px solid #B4B8BD;
    outline: none;
    box-shadow: 0 0;
}

.user-input input[type=email]:focus {
    border: 2px solid #863084;
    outline: none;
    box-shadow: 0 0;
}

.upload-btn-wrapper {
    position: relative;
    display: inline-block;
    pointer-events: stroke;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: stroke;
  }